<html>
<head>
	<title>flappy is {{state}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/srbag.css" />
</head>

<body bgcolor="black" text="white">
    <div class="imghover"><a href="/" class="alink"><div class="link imghover">&larr;srb.ag</div></a></div>
	<div style="padding-top:65px;text-align:center">
		<div>flappy is {{state}}</div>
		<div class="p_five_t">
			<iframe src="http://player.vimeo.com/video/{{video_id}}?autoplay=1&amp;loop=1" 
			width="800" height="450" frameborder="0"></iframe>
		<div>
	</div>
</body>
</html>
