<html>
<head>
	<title>rishi.bhansa.li</title>
	<link rel="stylesheet" type="text/css" href="/static/css/srbag.css" />
</head>
<body bgcolor="black" text="white">
	<div style="padding-top:40;text-align:center">
		<div class="white_link">
			Welcome Rishi.<br/><br/>
			You can do it.
		</div>
		<div class="white_link" style="margin-top:50px;">
			Also, this is yours whenever you want.
		</div>
		<div style="margin-top:70px;">
			<img src="http://24.media.tumblr.com/tumblr_lbq4gjDB921qe0eclo1_r8_500.gif">
		</div>
	</div>
</body>
</html>
