<html>
<head>
	<title>sb | {{ss_type}}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/srbag.css" />
	<script src="/static/js/srbag.js"></script>
</head>


<body bgcolor="black" text="white">
	<div style="padding-top:40;text-align:center;">
		<div id="sb_slideshow_container" class="inline">
			<a href="#" onclick="srbag.getAndSetRandomImage(); return false;">
				<img id="sb_img" src="" style="border:none;display:none;height:550px;"/>
			</a>
		</div>
	</div>
	<div id="footer" class="align_center white">
		r : random - j : next - k : previous
	</div>
</body>
</html>
