<html>
<head>
    <title>asha's yoga videos</title>
	<link rel="stylesheet" type="text/css" href="/static/css/srbag.css" />
</head>


<body bgcolor="black" text="white">
    <div class="imghover"><a href="/" class="alink"><div class="link imghover">&larr;srb.ag</div></a></div>
	<div style="padding-top:40;text-align:center;">
        <img src="http://farm5.static.flickr.com/4098/4778280486_5a4f81f3fa_z.jpg"/><br/>
		<div id="sb_slideshow_container" class="imghover inline white">
            <a class="alink" href="/yoga/1"><div class="link imghover">01</div></a>
            <a class="alink" href="/yoga/2"><div class="link imghover">02</div></a>
            <a class="alink" href="/yoga/3"><div class="link imghover">03</div></a>
            <a class="alink" href="/yoga/4"><div class="link imghover">04</div></a>
		</div>
	</div>
</body>
</html>
